.site__footer {
    display: flex;
    justify-content: space-around;
    gap:4%;
}
.site__footer div{
    flex: 1;
    width: 20%;
    border: 1px dotted rgb(17, 188, 241);
    align-items: center;
}


.site__footer div>div {
    width: 100%;
}